<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
</head>
<body>
    <h1>SignUp</h1>
    <form action="/user" method="post">
        <input type="text" required name="name" placeholder="name">
        <input type="email" required name="email" id="" placeholder="email">
        <input type="password" required name="password" placeholder="password">
        <button type="submit">signup</button>
    </form>
</body>
</html>